<p class='question' id='<%= @question.id %>'><%= @question.body %></p>
<ul>
  <li class='answer' id='<%= @first["{@question.parameter}"] %>'>
    <%= @first.name %> (@<%= @first.username %>)
  </li>
  <li class='answer' id='<%= @second["{@question.parameter}"] %>'>
    <%= @second.name %> (@<%= @second.username %>)
  </li>
</ul>