<div class = "container">
  <a href="#quizModal" class= "startButton">Start Quiz</a> 
  <div id="quizModal" class="quizDialog"> 
    <div>
      <a href="#close" title="Close" class="close">X</a>
      <p class='question' id='<%= @question.id %>'><%= @question.body %></p>
      <ul>
        <li class='answer' id='<%= @first["{@question.parameter}"] %>'>
          <%= @first.name %> (@<%= @first.username %>)
        </li>
        <li class='answer' id='<%= @second["{@question.parameter}"] %>'>
          <%= @second.name %> (@<%= @second.username %>)
        </li>
      </ul>
      <button style="display:none" id="next">Next</button>
    </div>  
  </div>
  <div class="scoreboardBox">
    <ul class='scoreboard'>
      <% @users.each do |u| %>
      <li>
        <p><%= u.email %></p>
        <p>Score: <%= u.score %></p>
        <div class="bar-wrap"><span class="bar-fill" style="width: <%= u.score * 10 %>%;"></span></div>
      </li>
    <% end %>
    </ul>
  </div>
</div>     

<p class='user' id='<%= current_user.id %>'></p>

<script type="text/javascript">
  var attr = '<%= @question.parameter %>'
  switch(attr) {
    case 'followers_count':
      most('followers_count');
      break;
    case 'friends_count':
      most('friends_count');
      break;
    case 'statuses_count':
      most('statuses_count');
      break;
    case 'creation_date':
      oldestTweeter('creation_date');
      break;
  }
</script>