<h1>Twitter Quiz / Trendster</h1>
    
<h2> NAV LINKS </h2>
<div class="nav">
  <ul id="nav">
    <li>View Group Scoreboard</li>
    <li>Logout</li>
  </ul>
</div>

<div id="quizModal" class="quizDialog"> 
  <div>
    <a href="#close" title="Close" class="close">X</a>
    <h2>Quiz</h2>
    <p class='question_id' id='<%= @question.id %>'><strong><%= @question.body %></strong></p>
    <ul>
      <li class='answer' id='<%= @tweeters[0][:follower_count]%>'>
        @<%= @tweeters[0][:username] %>
      </li>
      <li class='answer' id='<%= @tweeters[1][:follower_count]%>'>
        @<%= @tweeters[1][:username] %>
      </li>
    </ul>
  </div>
</div>

<footer>
    <div class="Footer">
        <b>"Copyright: Alison, Aurora, Andy and Akin"</b>
    </div>
</footer>

<p class='user_id' id='<%= current_user.id %>'></p>

<script type="text/javascript">
  mostFollowers();
</script>