<h1>Twitter Quiz / Trendster</h1>
    
<h2> NAV LINKS </h2>
<div class="nav">
  <ul id="nav">
    <li>View Group Scoreboard</li>
    <li>Logout</li>
  </ul>
</div>

<div id="quizModal" class="quizDialog"> 
  <div>
    <a href="#close" title="Close" class="close">X</a>
    <h2>Quiz</h2>
    <p class='question_id' id='<%= @question.id %>'><strong><%= @question.body %></strong></p>
    <ul>
      <li class='answer' id='<%= @first["#{@question.parameter}"] %>'>
        <%= @first.name %> (@<%= @first.username %>)
      </li>
      <li class='answer' id='<%= @second["#{@question.parameter}"] %>'>
        <%= @second.name %> (@<%= @second.username %>)
      </li>
    </ul>
  </div>
</div>

<footer>
  <b>"Copyright: Alison, Aurora, Andy and Akin"</b>
</footer>

<p class='user_id' id='<%= current_user.id %>'></p>

<script type="text/javascript">
var attr = '<%= @question.parameter %>'
console.log(attr);
switch(attr) {
  case 'follower_count':
    most();
    showFollowers();
    break;
  case 'creation_date':
    // oldestTweeter();
    break;
  case 'statuses_count':
    most();
    break;
  case 'friends_count':
    most();
    break;
}

</script>