<div class = "container">
  <a href="#quizModal" class= "startButton">Start Quiz</a> 
  <div id="quizModal" class="quizDialog"> 
    <div>
      <a href="#close" title="Close" class="close">X</a>
      <%= render 'quiz' %>
      <button style="display:none" id="next">Next</button>
    </div>  
  </div>
  <div class="scoreboardBox">
    <ul class='scoreboard'>
      <% @users.each do |u| %>
      <li>
        <p><%= u.email %></p>
        <p>Score: <%= u.score %></p>
        <div class="bar-wrap"><span class="bar-fill" style="width: <%= u.score * 10 %>%;"></span></div>
      </li>
    <% end %>
    </ul>
  </div>
</div>     

<p class='user' id='<%= current_user.id %>'></p>