<h1>Twitter Quiz / Trendster</h1>

<div class='question' id='<%= @question.id %>'>
  <strong><%= @question.body %></strong>
</div>
<br>

<div class='answer' id='<%= @tweeters[0][:follower_count]%>'>
  @<%= @tweeters[0][:username] %>
</div>
<br>
<div class='answer' id='<%= @tweeters[1][:follower_count]%>'>
  @<%= @tweeters[1][:username] %>
</div>

<script type="text/javascript">
  mostFollowers();
</script>