<h2><%= @group.name %></h2>

<div class='scoreboardBox'>
  <ul class='scoreboard'>
    <% @group_users.each do |u| %>
    <li>
      <p><%= u.email %></p>
      <p>Score: <%= u.score %></p>
      <div class="bar-wrap"><span class="bar-fill" style="width: <%= (u.score.to_f / @topscore.score) * 100 %>%;"></span></div>
    </li>
  <% end %>
  </ul>
</div>

<%= link_to 'Back', groups_path %>