<!DOCTYPE html>
<html>
<head>
  <title>Twitterquiz</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header>
		<img id ="logo" src="http://i.imgur.com/5rxR8cl.png" title="source: imgur.com" />
		<% if current_user %>
			<nav>
				<ul>
					<li><%= link_to 'Home', root_path %></li>
					<li><%= link_to 'Groups', groups_path %></li>
					<li><%= link_to 'Sign out', destroy_user_session_path, method: :delete %></li>
				</ul>
			</nav>
		<% end %>
	</header>

<%= yield %>

	<footer>
	  <b>"©2015: Alison, Aurora, Andy and Akin"</b>
	</footer>
</body>
</html>
