<!DOCTYPE html>
<html>
<head>
  <title>Twitterquiz</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header></header>
	<% if current_user %>
	

	<% end %>

<%= yield %>

	<div class="nav">
		<ul>
			<li><a href="groups/_form">Make Group</a></li>
    		<li><a href="groups/show">View All Groups</a></li>
			<li><%= link_to 'Sign out', destroy_user_session_path, method: :delete %></li>
		</ul>
	</div>

</body>
</html>
